.container
{
    /* center contents */
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#top
{
    /* surround with whitespace */
    margin-bottom: 15px;
    margin-top: 15px;
}

#top .nav
{
    /* center navigation pills */
    display: inline-block;
}

#middle .form-control
{
    /* center form controls */
    display: inline-block;

    
    width: auto;
}

#bottom
{
    /* shrink bottom's font size */
    font-size: smaller;

    /* surround with whitespace */
    margin: 20px;
}
